<ul>
<% 
@differences.each do |d| 
%>
	<li class="<%=d.name_of_difference%>">
<%
	case d.name_of_difference
	when :added
%>Added a new bug: '<%=d.instance.title%>', current status is '<%= d.instance.status %>'<% 
	when :closed
%>Closed bug: '<%=d.instance.title%>'<%
	when :rejected
%>Rejected bug: '<%=d.instance.title%>'<%		
	else 
%>
<% 
	end 
%>
	</li>
<% 
end 
%>
</ul>
